
<h1>Comments</h1>

<table class="table">
    <thead>
    <tr>
        <th>comment</th>
        <th>owner</th>
        <th>DisplayComment</th>
        <th>UserPermission</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>

    {{#each comments}}

        <tr>
            <th>{{body}}</th>
            <td>{{user.firstName}}</td>

            <td>

                <input data-id="{{id}}"  type="checkbox" {{#if approveComment}} checked {{/if}} name="approveComment" />

            </td>

            <td>

                <input data-id="{{user.id}}"  type="checkbox" {{#if user.allowUser}} checked {{/if}} name="allowUser" />

            </td>



            <td>{{generateDate date 'MMMM Do YYYY'}}</td>
            <td>

                <form action="/admin/comments/{{id}}?_method=DELETE" method="post">

                    <button type="submit" class="btn btn-danger">Delete</button>

                </form>


            </td>
        </tr>

    {{/each}}

    </tbody>
</table>